*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
html,body{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
#header{
	width: 100%;
	height: 53px;
	background-color: white;
	opacity: .9;
	position: fixed;
	top: 0;
	overflow: hidden;
	z-index: 100;
	border-bottom: 1px solid #e4e4e4;
}
.logo{
	position: absolute;
	left: 10%;
	top: 14px;
	z-index: 1000;
}
.lvse{
	width: 25%;
	height: 100%;
	position: absolute;
	left: 0;
}
#navigation{
	position:absolute;
	display: inline-block;
	height: 53px;
	font-size: 16px;
	line-height: 53px;
	/*background: pink;*/
	right: 185px;
	list-style-type: none;
}
#navigation li{
	float: left;
	list-style-type: none;
	color: black;
	height: 53px;
	margin-left: 2px;
	width: 121px;
	/*background: pink;*/
	text-align: center;
}
#navigation li:nth-child(5){
	background: #770e12;
}
#navigation li a{
	display: inline-block;
	text-decoration: none;
	color:black;
	height: 53px;
}
#navigation li a:hover{
	display: inline-block;
	text-decoration: none;
	color:black;
	/*width: 100px;*/
	height: 53px;
}

#xialanavi{
	z-index: 100;
}
#xiala{
	display: none;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
}

@media only screen and (max-width:800px ) {
	.logo{
		width: 14%;
		left: 10px;
	}
}

@media only screen and (max-width:1100px ) {
	.logo{
		/*margin-left: 35px;*/
		left: 8%;
	}
	#navigation li{
		float: left;
		color: white;
		height: 53px;
		margin-left: 2px;
		width: 80px;
		/*background: pink;*/
		text-align: center;
	}
}
@media only screen and (max-width:1100px ) {
	#navigation,#tel{
		display: none;
	}
	#xiala{
		display: block;
	}
}

#xialanavi{
	position: fixed;
	width: 100px;
	height: 200px;
	background: #232323;
	right: 0;
	top: 53px;
	display: none;
}
#xialaxx{
	width: 100px;
	height: 200px;
}
#xialaxx a{
	text-decoration: none;
	color: #aaa8a8;
}
#xialaxx a:hover{
	text-decoration: none;
	color: white;
}
#xialaxx li{
	height: 50px;
	width: 100px;
	text-align: center;
	line-height: 50px;
}

#moreMenu_1{
	width: 32%;
	height: 450px;
	background: white;
	z-index: 10000;
	opacity: .9;
	position: fixed;
	margin-left: 45%;
	margin-top: 54px;
	display: none;
}
#moreMenu_1 ul{
	position: absolute;
	left: 10%;
	top: 40px;
}
#moreMenu_1 ul li{
	margin-bottom: 30px;
	font-size: 14px;
	height: 20px;
	border-bottom: 1px solid transparent;
}
#moreMenu_1 ul li a{
	color: black;
}
#moreMenu_1 ul li:hover{
	border-bottom: 1px solid black;
}
#moreMenu_1 .menu_Right{
	position: absolute;
	overflow: hidden;
	width: 40%;
	height: 350px;
	background: #e4e4e4;
	right: 10%;
	top: 45px;
}
.menu_Right .insertImg{
	/*position: absolute;*/
	width: 85%;
	margin-left: 7%;
	text-align: center;
	margin-top: 20px;
}
.menu_Right h3{
	margin-top: 10px;
	text-align: center;
}
.menu_Right h6{
	margin-top: 7px;
	text-align: center;
}
.menu_Right p{
	margin-top: 20px;
	margin-left: 7%;
	margin-right: 7%;
}
.menu_Right .mRBtn{
	width: 83%;
	margin-left:7%;
	margin-top: 10px;
}
#moreMenu_2{
	width: 32%;
	height: 450px;
	background: white;
	opacity: .9;
	position: fixed;
	z-index: 10000;
	margin-left: 47%;
	margin-top: 54px;
	display: none;
}
#moreMenu_2 ul{
	position: absolute;
	left: 13%;
	top: 70px;
}
#moreMenu_2 ul li{
	margin-bottom: 30px;
	font-size: 16px;
	height: 20px;
	border-bottom: 1px solid transparent;
}
#moreMenu_2 ul li a{
	color: black;
}
#moreMenu_2 ul li:hover{
	border-bottom: 1px solid black;
}
#moreMenu_2 .menu_Right{
	position: absolute;
	overflow: hidden;
	width: 50%;
	height: 350px;
	background: #e4e4e4;
	right: 10%;
	top: 45px;
}
#moreMenu_2 .menu_Right h6{
	margin-top: 15px;
}
#moreMenu_2 .menu_Right .mRBtn{
	width: 83%;
	margin-left:7%;
	margin-top: 20px;
}

#moreMenu_3{
	width: 32%;
	height: 450px;
	background: white;
	z-index: 10000;
	opacity: .9;
	position: fixed;
	margin-left: 55%;
	margin-top: 54px;
	display: none;
}
#moreMenu_3 ul{
	position: absolute;
	left: 13%;
	top: 70px;
}
#moreMenu_3 ul li{
	margin-bottom: 30px;
	font-size: 16px;
	height: 20px;
	border-bottom: 1px solid transparent;
}
#moreMenu_3 ul li a{
	color: black;
}
#moreMenu_3 ul li:hover{
	border-bottom: 1px solid black;
}
#moreMenu_3 .menu_Right{
	position: absolute;
	overflow: hidden;
	width: 50%;
	height: 350px;
	background: #e4e4e4;
	right: 10%;
	top: 45px;
}
#moreMenu_3 .menu_Right h6{
	margin-top: 15px;
}
#moreMenu_3 .menu_Right .mRBtn{
	width: 83%;
	margin-left:7%;
	margin-top: 20px;
}
.title{
	padding-top: 35px;
	width: 75%;
	height:35px;
	border-bottom: 1px solid #E4E4E4;
	left: 0;right: 0;
	margin: 0 auto;
	margin-top: 55px;
}
.title span:nth-child(1){
	font-weight: bold;
}
.title span:nth-child(2){
	color: #7d7d7d;
}

/* ********* */
/*以上为底部链接各个的头部公共部分*/
/* ********* */

.sjtd{
	width: 75%;
	height: 1500px;
	margin: 0 auto;
	margin-top: 80px;
	text-align: center;
}
.sjtd p{
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}
.sjtd span{
	display: block;
	font-size: 14px;
	line-height: 24px;
}
.sjtd h3{
	font-size: 30px;
}
.desiWrap1{
	margin-top: 100px;
	float: left;
	width: 47%;
}
.desiWrap1 img,.desiWrap2 img,.desiWrap3 img,.desiWrap4 img{
	width: 100%;
	margin-bottom: 15px;
}
.desiWrap2{
	margin-top: 100px;
	float: right;
	width: 47%;
}
.desiWrap3{
	width: 47%;
	margin-top: 100px;
	float: left;
}
.desiWrap4{
	width: 47%;
	margin-top: 100px;
	float: right;
}
