<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/aftersaleSer.css"/>
		<title>若态玩具-售后服务</title>
	</head>
	<body>
		<!--头部导航-->
		<div id="header">
			<img class="lvse" src="../images/navi_green.png"/>
			<img class="logo" src="../images/navi_logo.png"/>
			<ul id="navigation">
				<li class="comeIn_1"><a href="">文创系列</a></li>
				<li class="comeIn_2"><a href="">2D拼图系列</a></li>
				<li class="comeIn_3"><a href="">3D拼图系列</a></li>
				<li><a href="">中文 | ENGLISH</a></li>
			</ul>
			
			<img id="xiala" src="../images/index_01.png"/>
		</div>
		
		<!--下拉菜单-->
		<div id="moreMenu_1">
			<ul>
				<li><a href="DIYart.html">DIY艺术屋</a></li>
				<li><a href="wc-byh.html">八音盒</a></li>
				<li><a href="wc-hk.html">贺卡</a></li>
				<li><a href="">世界风情</a></li>
				<li><a href="">梦幻别墅</a></li>
				<li><a href="">兽首</a></li>
				<li><a href="">卡通钟</a></li>
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>文创系列</h3>
				<h6>DIY HOUSE</h6>
				<p>文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列</p>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_2">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_3">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		
		<!--小屏下拉菜单-->
		<div id="xialanavi">
			<ul id="xialaxx">
				<li class="lis2"><a href="">文创</a></li>
				<li class="lis2"><a href="">2D拼图</a></li>
				<li class="lis2"><a href="">3D拼图</a></li>
				<li class="lis2"><a href="">语言</a></li>
			</ul>
		</div>
		<!--新闻动态/合作商铺资讯 整体-->
		<div class="title">
			<span>服务支持 /</span>
			<span>售后服务</span>
		</div>
		
		<div class="shfw">
			<h1>售后服务</h1>
			<span>一、如何联系到我们的售后服务？</span>
			<p>答：1.添加若态微信号【若态DIY生活家】,点击菜单栏<售后服务>中的“在线客服”直接咨询；</p>
			<p style="text-indent: 32px;">2.阳光服务热线：400-710-8099</p>
			<p>(建议优先选择添加【若态DIY生活家】，直接咨询“在线客服”的方式处理。在线沟通更及时、方便，可以发送图片，图文并茂的将诉求信息表达的清楚易懂，这样我们可以更加快速的帮您解决问题)</p>
			<span>二、拼图补缺卡说明</span>
			<p>1.在什么情况下可以缺片补发？</p>
			<p>答：a.拼装过程中，不慎损坏或丢失拼片；</p>
			<p style="text-indent: 32px;">b.我们提供终身缺片补发服务。（商品停产等特殊情况下无法提供补差服务）</p>
			<p>2.如何将缺失的拼片告知售后服务？</p>
			<p>答：a.将拼片所对应的产品型号以及零件编号告知我们，并附上一张已损坏的拼片照片，我们将在第一时间帮你解决问题；</p>
			<p style="padding-left: 30px;">b.拼片与产品拼装大图一同丢失，无法提供照片拼片的情况，可对准缺片所在拼图位置拍照（照片要求：整体图以及局部细节图各一张，以便找到对应的缺失区域）发送给我们售后客服。我们将根据图片指示的缺失位置，为您找到所缺失的拼片。</p>
			<span>三、拼片补发费用和运费如何支付？</span>
			<p>答：1.我们提供免费补缺服务；</p>
			<p style="padding-left: 30px;">2.顾客需支付补缺片寄送的邮费；</p>
			<p style="padding-left: 30px;">（如您提供的缺片编号信息和拍照信息不明确而导致补片错误，重复补片的邮费我们不予承担。）</p>
			<span>四、邮费支付方式：</span>
			<p>1.通过支付宝转账付款</p>
			<p>2.通过淘宝链接支付。</p>
			<span>五、邮费收费标准：</span>
			<p>依据实际发货快递的实时收费标准而定。</p>
		</div>
		
		
		
	</body>
	<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/cooperationNews.js" type="text/javascript" charset="utf-8"></script>
	
</html>
