<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/attractInvest.css"/>
		<title>若态玩具-招商合作</title>
	</head>
	<body>
		<!--头部导航-->
		<div id="header">
			<img class="lvse" src="../images/navi_green.png"/>
			<img class="logo" src="../images/navi_logo.png"/>
			<ul id="navigation">
				<li class="comeIn_1"><a href="">文创系列</a></li>
				<li class="comeIn_2"><a href="">2D拼图系列</a></li>
				<li class="comeIn_3"><a href="">3D拼图系列</a></li>
				<li><a href="">中文 | ENGLISH</a></li>
			</ul>
			
			<img id="xiala" src="../images/index_01.png"/>
		</div>
		
		<!--下拉菜单-->
		<div id="moreMenu_1">
			<ul>
				<li><a href="DIYart.html">DIY艺术屋</a></li>
				<li><a href="wc-byh.html">八音盒</a></li>
				<li><a href="wc-hk.html">贺卡</a></li>
				<li><a href="">世界风情</a></li>
				<li><a href="">梦幻别墅</a></li>
				<li><a href="">兽首</a></li>
				<li><a href="">卡通钟</a></li>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>文创系列</h3>
				<h6>DIY HOUSE</h6>
				<p>文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列</p>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_2">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_3">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<!--小屏下拉菜单-->
		<div id="xialanavi">
			<ul id="xialaxx">
				<li class="lis2"><a href="">文创</a></li>
				<li class="lis2"><a href="">2D拼图</a></li>
				<li class="lis2"><a href="">3D拼图</a></li>
				<li class="lis2"><a href="">语言</a></li>
			</ul>
		</div>
		<!--新闻动态/合作商铺资讯 整体-->
		<div class="title">
			<span>联系我们 /</span>
			<span>招商合作</span>
		</div>
		
		<div class="zshz">
			<h1>招商合作</h1>
			<p>一、合作条件</p>
				<ol>
					<li>认同若态文化和事业发展方向和市场营销理念，有共同发展的思路和决心；</li>
					<li>严格执行若态的销售政策，并适应若态的经营方式和规章制度，自觉维护企业形象；</li>
					<li>有自己的门市或有一定的销售渠道，并自有仓库长期备货及一定的资金实力；</li>
					<li>能积极配合公司营销、技术、促销团队给予的一系列后续服务。</li>
				</ol>
			<p>二、合作优势</p>
				<ol>
					<li>加入若态，无需加盟费用，携手与您稳步持续发展；</li>
					<li>市场空间大，风靡于儿童、青少年、情侣、家庭等多个消费群体，畅销于玩具、图书、礼品、精品店等多个市；</li>
					<li>我们拥有成熟的DIY产品的制造工艺，百种产品，均符合各类欧美和国家安全及制造标准，并获得SGS专业机构多项质量认证，享国家多项专利；</li>
					<li>国内原创研发团队，致力于益智类、工艺类、DIY手工类的产品研发，每年至少有两个系列的新品上市，始终走在潮流之前;</li>
					<li>与众多电视少儿频道、报纸、互联网等媒体，学校教育机构、图书市场、幼儿园等有着密切的合作关系和行之有效的宣传支持。</li>
				</ol>
			
		</div>
		
		
		
	</body>
	<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/exhibitionDyn.js" type="text/javascript" charset="utf-8"></script>
	
</html>
