<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/designTeam.css"/>
		<title>若态玩具-设计团队</title>
	</head>
	<body>
		<!--头部导航-->
		<div id="header">
			<img class="lvse" src="../images/navi_green.png"/>
			<img class="logo" src="../images/navi_logo.png"/>
			<ul id="navigation">
				<li class="comeIn_1"><a href="">文创系列</a></li>
				<li class="comeIn_2"><a href="">2D拼图系列</a></li>
				<li class="comeIn_3"><a href="">3D拼图系列</a></li>
				<li><a href="">中文 | ENGLISH</a></li>
			</ul>
			
			<img id="xiala" src="../images/index_01.png"/>
		</div>
		
		<!--下拉菜单-->
		<div id="moreMenu_1">
			<ul>
				<li><a href="DIYart.html">DIY艺术屋</a></li>
				<li><a href="wc-byh.html">八音盒</a></li>
				<li><a href="wc-hk.html">贺卡</a></li>
				<li><a href="">世界风情</a></li>
				<li><a href="">梦幻别墅</a></li>
				<li><a href="">兽首</a></li>
				<li><a href="">卡通钟</a></li>
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>文创系列</h3>
				<h6>DIY HOUSE</h6>
				<p>文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列</p>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_2">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_3">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<!--小屏下拉菜单-->
		<div id="xialanavi">
			<ul id="xialaxx">
				<li class="lis2"><a href="">文创</a></li>
				<li class="lis2"><a href="">2D拼图</a></li>
				<li class="lis2"><a href="">3D拼图</a></li>
				<li class="lis2"><a href="">语言</a></li>
			</ul>
		</div>
		<!--新闻动态/合作商铺资讯 整体-->
		<div class="title">
			<span>关于我们 /</span>
			<span>设计团队</span>
		</div>
		
		<div class="sjtd">
			<h3>他们性格不同，背景不一，学术各有专攻，</h3><br />
			<h3>他们以创新为本、为设计而生！</h3>
			<div class="desiWrap1">
				<img src="../images/designteam_1.png"/>
				<p>结构设计团队</p>
				<span>他们是操控结构的幕后人</span>
				<span>他们是最懂得材料性格的灵魂建造师</span>
				<span>他们在点线面与力的关系中，创造神奇</span>
			</div>
			<div class="desiWrap2">
				<img src="../images/designteam_2.png"/>
				<p>工业造型设计团队</p>
				<span>他们是将美学运用到实际中的生活家</span>
				<span>他们是理性与感性并肩的双面伊人</span>
				<span>他们为无趣的俗物，注入艺术般的美好</span>
			</div>
			<div class="desiWrap3">
				<img src="../images/designteam_3.png"/>
				<p>插画设计团队</p>
				<span>他们是勾勒温情生活的画师</span>
				<span>他们是描绘美丽梦境的天使</span>
				<span>他们以画作温暖人心、启迪心智</span>
			</div>
			<div class="desiWrap4">
				<img src="../images/designteam_4.png"/>
				<p>平面设计团队</p>
				<span>他们是最擅长捕捉创意的聪明人</span>
				<span>他们说将一切琐碎有机整合的高手</span>
				<span>他们以形式美和神创作，勾勒生活</span>
			</div>
		</div>
		
		
		
		
	</body>
	<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/exhibitionDyn.js" type="text/javascript" charset="utf-8"></script>
	
</html>
