<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/exhibitionDyn.css"/>
		<title>若态玩具-展会动态</title>
	</head>
	<body>
		<!--头部导航-->
		<div id="header">
			<img class="lvse" src="../images/navi_green.png"/>
			<img class="logo" src="../images/navi_logo.png"/>
			<ul id="navigation">
				<li class="comeIn_1"><a href="">文创系列</a></li>
				<li class="comeIn_2"><a href="">2D拼图系列</a></li>
				<li class="comeIn_3"><a href="">3D拼图系列</a></li>
				<li><a href="">中文 | ENGLISH</a></li>
			</ul>
			
			<img id="xiala" src="../images/index_01.png"/>
		</div>
		
		<!--下拉菜单-->
		<div id="moreMenu_1">
			<ul>
				<li><a href="DIYart.html">DIY艺术屋</a></li>
				<li><a href="wc-byh.html">八音盒</a></li>
				<li><a href="wc-hk.html">贺卡</a></li>
				<li><a href="">世界风情</a></li>
				<li><a href="">梦幻别墅</a></li>
				<li><a href="">兽首</a></li>
				<li><a href="">卡通钟</a></li>
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>文创系列</h3>
				<h6>DIY HOUSE</h6>
				<p>文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列</p>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_2">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_3">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<!--小屏下拉菜单-->
		<div id="xialanavi">
			<ul id="xialaxx">
				<li class="lis2"><a href="">文创</a></li>
				<li class="lis2"><a href="">2D拼图</a></li>
				<li class="lis2"><a href="">3D拼图</a></li>
				<li class="lis2"><a href="">语言</a></li>
			</ul>
		</div>
		
		<!--新闻动态/展会动态 整体-->
		<div class="title">
			<span>新闻动态 /</span>
			<span>展会动态</span>
		</div>
		<div class="manyPics">
			<div class="pic_1">
				<img src="../imgs_others/imgs_exhibition/pic1.png"/>
				<h2>金秋十月，好展随行</h2>
				<span>2016.09.22</span>
				<p>金秋十月，正是逛展好时节。若态三大展会带你领略原创与设计之间的美丽风景</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_2 pic_duan">
				<img src="../imgs_others/imgs_exhibition/pic2.png"/>
				<h2>若态第110届中国文化用品商品交易会</h2>
				<span>2016.09.22</span>
				<p>第110届中国文化用品商品交易会及中国国际制笔文具在上海新国际博览中心盛大开幕</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_3">
				<img src="../imgs_others/imgs_exhibition/pic3.png"/>
				<h2>第28届广州国际玩具及模型展览会-若态有新意</h2>
				<span>2016.09.22</span>
				<p>开展首日来自世界各地的观战者蜂拥而来、现场好不热闹</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_4 pic_duan">
				<img src="../imgs_others/imgs_exhibition/pic4.png"/>
				<h2>若态4月轮番展会直击</h2>
				<span>2016.09.22</span>
				<p>人山人海嗨起来，2D原创拼图、世界风情、DIY艺术屋、飓风工程车等新品首秀</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_5 pic_duan">
				<img src="../imgs_others/imgs_exhibition/pic5.png"/>
				<h2>香港国际玩具展今日隆重开展</h2>
				<span>2016.09.22</span>
				<p>香港国际玩具展火热开展，若态在现场，备好了琳琅满目的原创设计拼图</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_6">
				<img src="../imgs_others/imgs_exhibition/pic6.png"/>
				<h2>2016北京图书订货会盛大开幕</h2>
				<span>2016.09.22</span>
				<p>一年一届的北京图书订货会于1月7-9日在北京国际展览中心(老馆)隆重举行...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_7">
				<img src="../imgs_others/imgs_exhibition/pic7.png"/>
				<h2>若态双展——10月上海玩具展&深圳礼品展</h2>
				<span>2016.09.22</span>
				<p>2015年中国玩具展、中国婴童展和中国授权展在上海新国际博览中心隆重开幕...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_8">
				<img src="../imgs_others/imgs_exhibition/pic8.png"/>
				<h2>若态第110届中国文化用品商品交易会</h2>
				<span>2016.09.22</span>
				<p>第110届中国文化用品商品交易会及中国国际制笔文具在上海新国际博览中心盛大开幕</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_9 pic_duan">
				<img src="../imgs_others/imgs_exhibition/pic9.png"/>
				<h2>若态第109届中国文化用品商品交易会</h2>
				<span>2016.09.22</span>
				<p>第109届中国文化用品商品交易会为期三天，在一片喧嚣中落下帷幕</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_10">
				<img src="../imgs_others/imgs_exhibition/pic10.png"/>
				<h2>第27届广州国际玩具及模型展览会</h2>
				<span>2016.09.22</span>
				<p>第27届广州国际玩具及模型展于广州（琶洲）保利世贸博览馆落幕</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_11 pic_duan">
				<img src="../imgs_others/imgs_exhibition/pic11.png"/>
				<h2>第23届深圳礼品家具展，若态之行落幕！</h2>
				<span>2016.09.22</span>
				<p>为期四天的深圳礼品家具展在深圳会展中心圆满落幕，共迎来超过16万的观众</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_12 pic_duan">
				<img src="../imgs_others/imgs_exhibition/pic12.png"/>
				<h2>若态2015北京图书订货会，精彩纷呈！</h2>
				<span>2016.09.22</span>
				<p>本次大会人山人海，一度出现爆棚场景。小若也开心的带着家族成员们来参加</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_13">
				<img src="../imgs_others/imgs_exhibition/pic13.png"/>
				<h2>第31届北京礼品展——春日第一场旅行</h2>
				<span>2016.09.22</span>
				<p>小若带着一众家族成员到场参展，场内人潮攒动，火爆非凡...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_14">
				<img src="../imgs_others/imgs_exhibition/pic14.png"/>
				<h2>第十三届中国国际玩具及教育设备展览会</h2>
				<span>2016.09.22</span>
				<p>第十三届中国国际玩具及教育设备展览会开幕，我们带来了漂亮的新款...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_15">
				<img src="../imgs_others/imgs_exhibition/pic15.png"/>
				<h2>中国(深圳)国际礼品及家居用品展览会</h2>
				<span>2016.09.22</span>
				<p>第二十二届中国(深圳)国际礼品及家居用品展览盛大开幕</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			
		</div>
		
		
		
	</body>
	<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/exhibitionDyn.js" type="text/javascript" charset="utf-8"></script>
	
</html>
