<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/factoryImage.css"/>
		<title>若态玩具-工厂形象</title>
	</head>
	<body>
		<!--头部导航-->
		<div id="header">
			<img class="lvse" src="../images/navi_green.png"/>
			<img class="logo" src="../images/navi_logo.png"/>
			<ul id="navigation">
				<li class="comeIn_1"><a href="">文创系列</a></li>
				<li class="comeIn_2"><a href="">2D拼图系列</a></li>
				<li class="comeIn_3"><a href="">3D拼图系列</a></li>
				<li><a href="">中文 | ENGLISH</a></li>
			</ul>
			
			<img id="xiala" src="../images/index_01.png"/>
		</div>
		
		<!--下拉菜单-->
		<div id="moreMenu_1">
			<ul>
				<li><a href="DIYart.html">DIY艺术屋</a></li>
				<li><a href="wc-byh.html">八音盒</a></li>
				<li><a href="wc-hk.html">贺卡</a></li>
				<li><a href="">世界风情</a></li>
				<li><a href="">梦幻别墅</a></li>
				<li><a href="">兽首</a></li>
				<li><a href="">卡通钟</a></li>
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>文创系列</h3>
				<h6>DIY HOUSE</h6>
				<p>文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列</p>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_2">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_3">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<!--小屏下拉菜单-->
		<div id="xialanavi">
			<ul id="xialaxx">
				<li class="lis2"><a href="">文创</a></li>
				<li class="lis2"><a href="">2D拼图</a></li>
				<li class="lis2"><a href="">3D拼图</a></li>
				<li class="lis2"><a href="">语言</a></li>
			</ul>
		</div>
		<!--新闻动态/合作商铺资讯 整体-->
		<div class="title">
			<span>关于我们 /</span>
			<span>工厂形象</span>
		</div>
		
		<div class="gcxx">
			<span>工厂形象</span>
			<img  src="../images/factoryImage_1.png"/>
			<img  src="../images/factoryImage_2.png"/>
			<div class="wl1">
				占地9000平方米
			</div>
			<img  src="../images/factoryImage_3.png"/>
			<div class="wl1">
				通过ISO9001认证
			</div>
			<img src="../images/factoryImage_4.png"/>
			<div class="wl1">
				拥有近百台专业生产设备
			</div>
			<img src="../images/factoryImage_5.png"/>
			<div style="margin-bottom: 200px;" class="wl1">
				雇用百余位厂区全职职工
			</div>
		</div>
		
		
		
		
	</body>
	<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/exhibitionDyn.js" type="text/javascript" charset="utf-8"></script>
	
</html>
