<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/newProducts.css"/>
		<title>若态玩具-新品发布</title>
	</head>
	<body>
		<!--头部导航-->
		<div id="header">
			<img class="lvse" src="../images/navi_green.png"/>
			<img class="logo" src="../images/navi_logo.png"/>
			<ul id="navigation">
				<li class="comeIn_1"><a href="">文创系列</a></li>
				<li class="comeIn_2"><a href="">2D拼图系列</a></li>
				<li class="comeIn_3"><a href="">3D拼图系列</a></li>
				<li><a href="">中文 | ENGLISH</a></li>
			</ul>
			
			<img id="xiala" src="../images/index_01.png"/>
		</div>
		
		<!--下拉菜单-->
		<div id="moreMenu_1">
			<ul>
			<li><a href="DIYart.html">DIY艺术屋</a></li>
				<li><a href="wc-byh.html">八音盒</a></li>
				<li><a href="wc-hk.html">贺卡</a></li>
				<li><a href="">世界风情</a></li>
				<li><a href="">梦幻别墅</a></li>
				<li><a href="">兽首</a></li>
				<li><a href="">卡通钟</a></li>
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>文创系列</h3>
				<h6>DIY HOUSE</h6>
				<p>文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列</p>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_2">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_3">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<!--小屏下拉菜单-->
		<div id="xialanavi">
			<ul id="xialaxx">
				<li class="lis2"><a href="">文创</a></li>
				<li class="lis2"><a href="">2D拼图</a></li>
				<li class="lis2"><a href="">3D拼图</a></li>
				<li class="lis2"><a href="">语言</a></li>
			</ul>
		</div>
		
		<!--新闻动态/展会动态 整体-->
		<div class="title">
			<span>新闻动态 /</span>
			<span>新品发布</span>
		</div>
		<div class="manyPics">
			<div class="pic_1">
				<img src="../imgs_others/imgs_newProducts/pic1.png"/>
				<h2>第二代八音盒</h2>
				<span>Music Box</span>
				<p>一场奇妙的邂逅，从此生活变得不可思议，令人着迷。</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_2 pic_duan">
				<img src="../imgs_others/imgs_newProducts/pic2.png"/>
				<h2>DIY艺术屋</h2>
				<span>DIY HOUSE</span>
				<p>为心灵注入新鲜氧气的小屋，忧愁烦恼通通都可以忘掉。</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_3">
				<img src="../imgs_others/imgs_newProducts/pic3.png"/>
				<h2>平面拼图1000片纸质款</h2>
				<span>2D Jigsaw</span>
				<p>插画师们的世界是多次元的，比我们看到的更为变化多姿，另类魔性..</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_4 pic_duan">
				<img src="../imgs_others/imgs_newProducts/pic4.png"/>
				<h2>3D简款新款</h2>
				<span>3D wooden Puzzle</span>
				<p>前方高能，一波萌物来势汹汹，小心不要被萌化哦...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_5 pic_duan">
				<img src="../imgs_others/imgs_newProducts/pic5.png"/>
				<h2>飓风工程车</h2>
				<span>Construction Vehicles</span>
				<p>飓风工程车系列诞生于一场工程爱好和童心未泯的激烈较真，可爱，好玩，有趣...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_6">
				<img src="../imgs_others/imgs_newProducts/pic6.png"/>
				<h2>贺卡</h2>
				<span>Grating Card</span>
				<p>你有很多人，即便活在当下，也依然喜欢用笔和纸来记录生活和传达情感...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_7">
				<img src="../imgs_others/imgs_newProducts/pic7.png"/>
				<h2>世界风情之东南亚/土耳其风情</h2>
				<span>Global Style house</span>
				<p>【世界风情】之东南亚风情、土耳其风情震撼上市，带来纯正的地方建筑风情...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_8">
				<img src="../imgs_others/imgs_newProducts/pic8.png"/>
				<h2>平面拼图210片木质款</h2>
				<span>2D Jigsaw</span>
				<p>天生自带文艺细胞的年轻人在思考与创作的时候，总是不经意的让想象力在脑海中翻腾...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_9 pic_duan">
				<img src="../imgs_others/imgs_newProducts/pic9.png"/>
				<h2>平面拼图500片木质款</h2>
				<span>2D Jigsaw</span>
				<p>拼图与艺术的完美融合，之间乐趣妙不可言，唯原创，天生不一样.</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_10">
				<img src="../imgs_others/imgs_newProducts/pic10.png"/>
				<h2>世纪战船</h2>
				<span>Ancient Ship</span>
				<p>来自航海时代的著名战船，印刻着时代的烙印，承载着文明的发展历程</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_11 pic_duan">
				<img src="../imgs_others/imgs_newProducts/pic11.png"/>
				<h2>8月新品上市——玩乐家居简单就好</h2>
				<span></span>
				<p>8月将至立秋，新节气新气象，由内而外的焕然一新吧...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_12 pic_duan">
				<img src="../imgs_others/imgs_newProducts/pic12.png"/>
				<h2>平面拼图第一波新品</h2>
				<span>2D Jigsaw</span>
				<p>若态2015开年力作——2D品面拼图强势登陆，意气风发而昂首阔步...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_13">
				<img src="../imgs_others/imgs_newProducts/pic13.png"/>
				<h2>奔跑吧 恐龙</h2>
				<span></span>
				<p>这是一场颠覆性的穿越，恐龙们即将透过不可思议的神秘屏障来到你的身边</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_14">
				<img src="../imgs_others/imgs_newProducts/pic14.png"/>
				<h2>世界风情之英国风情</h2>
				<span>British Style</span>
				<p>八月将至立秋，新节气新气象，由内而外的焕然一新吧</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_15">
				<img src="../imgs_others/imgs_newProducts/pic15.png"/>
				<h2>梦幻别墅</h2>
				<span>Dream Villas</span>
				<p>全新梦幻阵营，5款家居小屋，活泼可爱，还有萌趣小家具...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<!--jiade-->
			<div class="pic_16">
				<img src="../imgs_others/imgs_newProducts/pic16.png"/>
				<h2>迷你建筑</h2>
				<span>Mini World's Great architecture</span>
				<p>八月将至立秋，新节气新气象，由内而外的焕然一新吧</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_17">
				<img src="../imgs_others/imgs_newProducts/pic17.png"/>
				<h2>3D简装涂色新款</h2>
				<span>Dream Villas</span>
				<p>四面八方闻声四起，五湖四海生肖聚首，十二个生动活泼的生肖动物登场</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_18">
				<img src="../imgs_others/imgs_newProducts/pic18.png"/>
				<h2>世界风情之中国风情</h2>
				<span>Chinese Style</span>
				<p>重现中国古代建筑的韵味，古色古香，透露着浓浓的中国式意蕴...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_19">
				<img src="../imgs_others/imgs_newProducts/pic19.png"/>
				<h2>世界风情三大系列</h2>
				<span>Global Style house</span>
				<p>一次新奇的探险体验，生动逼真的呈现了世界各地的人文气息和历史文化...</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			<div class="pic_20">
				<img src="../imgs_others/imgs_newProducts/pic20.png"/>
				<h2>第一代八音盒</h2>
				<span>Music Box</span>
				<p>这个世界真美好，我迎着晨曦而出，踏着晚霞而归，畅游在每一天的安逸中</p>
				<a class="lasbtn" href=""><img src="../images/detailmessage.png"/></a>
			</div>
			
			
		</div>
		
		
		
	</body>
	<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/exhibitionDyn.js" type="text/javascript" charset="utf-8"></script>
	
</html>
