<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" type="text/css" href="../css/rtlc.css"/>
		<title>若态玩具-若态历程</title>
	</head>
	<body>
		<!--头部导航-->
		<div id="header">
			<img class="lvse" src="../images/navi_green.png"/>
			<img class="logo" src="../images/navi_logo.png"/>
			<ul id="navigation">
				<li class="comeIn_1"><a href="">文创系列</a></li>
				<li class="comeIn_2"><a href="">2D拼图系列</a></li>
				<li class="comeIn_3"><a href="">3D拼图系列</a></li>
				<li><a href="">中文 | ENGLISH</a></li>
			</ul>
			
			<img id="xiala" src="../images/index_01.png"/>
		</div>
		
		<!--下拉菜单-->
		<div id="moreMenu_1">
			<ul>
				<li><a href="DIYart.html">DIY艺术屋</a></li>
				<li><a href="wc-byh.html">八音盒</a></li>
				<li><a href="wc-hk.html">贺卡</a></li>
				<li><a href="">世界风情</a></li>
				<li><a href="">梦幻别墅</a></li>
				<li><a href="">兽首</a></li>
				<li><a href="">卡通钟</a></li>
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>文创系列</h3>
				<h6>DIY HOUSE</h6>
				<p>文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列文创系列</p>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_2">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<div id="moreMenu_3">
			<ul>
				<li><a href="">1000片拼图</a></li>
				<li><a href="">500片拼图</a></li>
				<li><a href="">210片拼图</a></li>
				
			</ul>
			<div class="menu_Right">
				<!--下图根据需要更改图片-->
				<img class="insertImg" src="../images/diyxiaowu.png"/>
				<h3>2D拼图系列</h3>
				<h6>DIY HOUSE</h6>
				<a href=""><img class="mRBtn" src="../images/detailmessage.png"/></a>
			</div>
		</div>
		<!--小屏下拉菜单-->
		<div id="xialanavi">
			<ul id="xialaxx">
				<li class="lis2"><a href="">文创</a></li>
				<li class="lis2"><a href="">2D拼图</a></li>
				<li class="lis2"><a href="">3D拼图</a></li>
				<li class="lis2"><a href="">语言</a></li>
			</ul>
		</div>
		<!--新闻动态/合作商铺资讯 整体-->
		<div class="title">
			<span>关于我们 /</span>
			<span>若态历程</span>
		</div>
		<div class="lcMain">
			<p>企业历程</p>
			<div class="bdg">
				<span>2005-10&nbsp;&nbsp;&nbsp;  若态工作室成立</span><br />
				<span>2006-11&nbsp;&nbsp;&nbsp;  获中国科学院第二届创业计划大赛金奖。</span><br />
				<span>2007-10&nbsp;&nbsp;&nbsp;  引进首轮风险投资，创立苏州工业园区若态科技有限公司，致力于创意文具的设计和制造。</span><br />
				<span>2008-11&nbsp;&nbsp;&nbsp;  与美国Outrageous/瑞士Joker AG成为战略合作伙伴，产品正式推向国际市场。</span><br />
				<span>2010-02&nbsp;&nbsp;&nbsp; 进驻玩具反斗城ToysRus(德国、美国等)山姆会员店Sumclub，日本代理商(IWAYA)，BJ，JVC电视购物以及国外各大商场卖场,在玩具市场占据一席之地</span><br />
				<span>2010-08&nbsp;&nbsp;&nbsp;  公司针对电子商务，开始进驻天猫、京东、亚马逊、易迅、当当、一号店等国内各大电商平台，开始了Robotime E-business Plan。</span><br />
				<span>2012-02&nbsp;&nbsp;&nbsp;  在北京卡酷、江苏优漫、上海炫动和湖南金鹰卡通等各大电视媒体亮相，在国内市场刮起了一场“若态木艺风”。</span><br />
				<span>2013-11&nbsp;&nbsp;&nbsp;  与中国建筑工业出版社签订合作项目，得到国内资深出版社的肯定和支持。</span><br />
				<span>2014-01&nbsp;&nbsp;&nbsp;  若态业务发展迅速，工厂搬迁至江苏沭阳，产能迅速扩大。</span><br />
				<span>2015-10&nbsp;&nbsp;&nbsp;  若态十周年。回顾10年历程，风雨载舟，厚积薄发，若态玩具已走进千万家庭。</span><br />
				<span>2016-04&nbsp;&nbsp;&nbsp;  若态办公地区搬迁，小伙伴们搬进了较原来2倍大的办公区，迎来了崭新的开始。</span><br />
				<span>2016-07&nbsp;&nbsp;&nbsp;  若态DIY生活家公众平台上线，为了将DIY的趣味生活理念传播给更多人。</span><br />
				<span>若态玩始终秉持“专注原创，天生不一样”！</span>
			</div>
			
		</div>
		
	</body>
	<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/exhibitionDyn.js" type="text/javascript" charset="utf-8"></script>
	
</html>
